@import '~antd/dist/antd.css';

.header {
  background-color: white;
  border-bottom: 1px solid #e4e2e2;
  padding: 0 2rem;
}

.logo {
  float: left;
  margin-left: 0.3rem;
}

.logo a {
  text-decoration: none;
  color: black;
  font-style: oblique;
  font-weight: bold;
}

.home {
  background-image: url('./assets/images/melissa-walker-horn-jsEftnpVh1U-unsplash.jpg');
  background-size: cover;
  background-position: initial;
  height: calc(100vh - 50px);
}

.form-container {
  margin: 8vh auto;
  width: 500px;
  box-shadow: 2px 2px 6px 2px rgb(230, 230, 230);
}

.inner-spacing {
  padding: 2rem;
  padding-top: 3rem;
}

.forgot-password {
  text-decoration: none;
  float: right;
}

.forgot-password__container {
  margin: 1rem 1.5rem;
  padding: 1rem;
}

.reset-password__container {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.register {
  margin: 1.5em 2em;
  padding: 2rem 0;
}

.forgotPassword {
  position: relative;
  top: -1.4em;
  margin-right: 0.3em;
  float: right;
  font-size: 0.8em;
}

.user__no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* Search form */
.search {
  background-color: white;
  position: relative;
  top: 10vh;
  width: 700px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #d6d6d6;
}

.search-form {
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 0;
}

.search-dates {
  display: flex;
  justify-content: space-around;
}

.search-form__item-spacing {
  padding-bottom: 0.5rem;
}

/* Search inside search result page */
.secondary-search {
  top: 2vh;
  width: inherit;
  padding: 0;
  position: relative;
  border: 1px solid #d6d6d6;
}

/* Search Results */
.search-result {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.additional-search__result {
  margin-top: 1.5rem;
}

.go-to__reservation {
  position: sticky;
  position: -webkit-sticky;
  top: 10vh;
  z-index: 10;
  float: right;
  background-color: #389e0d;
  border: 1px solid #389e0d;
}

.go-to__reservation:hover {
  background-color: #52c41a;
  border: 1px solid #52c41a;
}

.search-result__card {
  margin: 2rem 0;
}

.search-result__card-grid {
  box-shadow: none;
  padding: 0;
}

.card-search__image-container {
  width: 35%;
}

.search-result__card-image {
  width: 100%;
  object-fit: cover;
  height: auto;
  max-width: 100%;
}

.card-search__text-container {
  width: 65%;
  padding-left: 1rem;
}

.search-result__card-description__price {
  font-size: 1.3rem;
  color: #58524b;
}

.search-result__card-description__span {
  color: #7d7162;
}

@media (max-width: 991px) {
  .form-container {
    width: 50%;
  }
}

/* small */
@media (max-width: 778px) {
  .form-container {
    width: 65%;
  }
  .card-search__image-container {
    width: 50%;
  }
  .card-search__text-container {
    width: 50%;
  }
}

/* smaller */
@media (max-width: 576px) {
  .header {
    padding: 0 0.2rem;
  }
  .logo {
    margin-left: 0.8rem;
  }
  .form-container {
    margin: 8vh auto;
    width: 70%;
  }
  .inner-spacing {
    padding: 0.2rem;
    padding-top: 3rem;
  }
  .forgot-password__container {
    margin: 1rem 1.5rem;
    padding: 0.3rem;
  }
  .search {
    width: 90%;
    top: 2%;
    border: none;
    padding: 0;
    padding-top: 1rem;
  }

  .search-form {
    padding-top: 0.5rem;
  }

  .search-button {
    width: 100%;
    margin-top: 0.5rem;
  }

  .search-form__special-item {
    margin-right: 0 !important;
    width: 50%;
  }

  .search-result {
    max-width: 80%;
  }

  .search-result__card-inner {
    display: flex;
    flex-direction: column;
  }
  .card-search__image-container {
    width: 100%;
    padding: 0;
  }
  .card-search__text-container {
    width: 100%;
    padding: 0;
    margin-top: 1rem;
  }
}

/* extra small */
@media (max-width: 414px) {
  .form-container {
    width: 95%;
  }
  .register {
    padding: 1.2em;
    margin: 0;
  }

  .search-dates {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .search-form__item-spacing {
    flex: auto !important;
  }
  .search-result {
    max-width: 95%;
  }
}
