@import '~antd/dist/antd.css';

.form-container {
  margin: 11vh auto;
  width: 500px;
  box-shadow: 0 0 3px 1px rgb(163, 162, 162);
}

.forgot-password {
  text-decoration: none;
  float: right;
}

.register {
  margin: 1.5em 2em;
  padding: 2rem 0;
}

.forgotPassword {
  position: relative;
  top: -1.4em;
  margin-right: 0.3em;
  float: right;
  font-size: 0.8em;
}

@media (max-width: 991px) {
  .form-container {
    width: 50%;
  }
}

/* small */
@media (max-width: 778px) {
  .form-container {
    width: 65%;
  }
}

/* smaller */
@media (max-width: 576px) {
  .form-container {
    margin: 8vh auto;
    width: 70%;
  }
}

/* extra small */
@media (max-width: 414px) {
  .form-container {
    width: 95%;
  }
  .register {
    padding: 1.2em;
    margin: 0;
  }
}
