@import '~antd/dist/antd.css';

.header {
  background-color: white;
  border-bottom: 1px solid #e4e2e2;
  padding: 0 2rem;
}

.logo {
  float: left;
  margin-left: 0.3rem;
}

.logo a {
  text-decoration: none;
  color: black;
  font-style: oblique;
  font-weight: bold;
}

.form-container {
  margin: 8vh auto;
  width: 500px;
  box-shadow: 2px 2px 6px 2px rgb(230, 230, 230);
}

.inner-spacing {
  padding: 2rem;
  padding-top: 3rem;
}

.forgot-password {
  text-decoration: none;
  float: right;
}

.forgot-password__container {
  margin: 1rem 1.5rem;
  padding: 1rem;
}

.register {
  margin: 1.5em 2em;
  padding: 2rem 0;
}

.forgotPassword {
  position: relative;
  top: -1.4em;
  margin-right: 0.3em;
  float: right;
  font-size: 0.8em;
}

.user__no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@media (max-width: 991px) {
  .form-container {
    width: 50%;
  }
}

/* small */
@media (max-width: 778px) {
  .form-container {
    width: 65%;
  }
}

/* smaller */
@media (max-width: 576px) {
  .header {
    padding: 0 0.2rem;
  }
  .logo {
    margin-left: 0.8rem;
  }
  .form-container {
    margin: 8vh auto;
    width: 70%;
  }
  .inner-spacing {
    padding: 0.2rem;
    padding-top: 3rem;
  }
  .forgot-password__container {
    margin: 1rem 1.5rem;
    padding: 0.3rem;
  }
}

/* extra small */
@media (max-width: 414px) {
  .form-container {
    width: 95%;
  }
  .register {
    padding: 1.2em;
    margin: 0;
  }
}
